body{
    font-family: Roboto;
    background: #2b5876;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
h1{
    background-color: #2980b9;
    color: white;
    padding: 20px 10px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    background: white;
    height: 40px;
    line-height: 40px;
    color: #666;

}
input{
    font-size: 18px;
    background: #F7F7F7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    color: #2980b9;
    outline: none;
    border: 3px solid rgba(0,0,0,0);
}
input:focus{
    background: white;
    border: 3px solid #2980b9;
    outline: none;
}
span{
    background: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0;
    display: inline-block;
    transition: 0.4s linear;
    opacity: 0;
}
li:hover span{
    width: 40px;
    opacity: 1.0;
}
#container{
    width: 360px;
    margin:0 auto; /*to center*/
    margin: 100px auto;
    background: #F7F7F7;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
}
.completed{
    text-decoration: line-through;
    color: grey;
}

li:nth-child(2n){
    background: #F7F7F7;
}

.fas+.fa-plus{
    float: right;
}
